html{
    box-sizing: border-box;
    font-size: 62.5%; /**10 px == a 1 rem*/
    font-family: "Kumbh Sans", sans-serif;
    
  }
  *, *:before, *after{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
  }
  p{
    font-size: 16px;
  }
  a{
    text-decoration: none;
    color: var(--DarkGrayishBlue);
    font-weight: 500;

    display: block;
  }